.floatRight{float:right;margin-left:20px}

#hp  {
    float: right;    
     margin: 0 0 0 15px;
    }


    h1 {
        font-size: 2em;
      }

#grad {
    height: 200px;
    background-image: linear-gradient(cyan, blue);
    }

.back {
  height: 200px;
  width: 200px;
  background: rgb(0,0,191);
  background: linear-gradient(225deg, rgba(0,0,191,1) 35%, rgba(0,212,255,1) 100%);
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
 }