.object {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* More styles here */
}

.planet {
    /* Styles for planets here */
}

.p-orbit {
    /* Styles for orbits here */
}

#solar-system {
    position: relative;
    width: 100%;
    height: 100vh;
}